@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.navbar-o-p ul {
  list-style: none;
}

/*navbar*/
/*navbar*/
/*navbar*/

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  height: calc(8vh + 20px);
  padding: 10px;
  font-size: calc(6px + 0.8vw);
  background: var(--Couleur1);
  z-index: 9999;
  margin-bottom: 30px;
}

/*logo*/

.divlogo {
  display: flex;
}

.divlogo a {
  display: flex;
  margin: 1px 0.5vw;
  height: 8vh;
  align-items: center;
  text-decoration: none;
}

#logo {
  display: inline-block;
  vertical-align: top;
  height: 8vh;
}

/*titre*/

.Title {
  font-family: 'Courier New', Courier, monospace;
  color: var(--Noir);
  font-size: calc(5px + 1.5vh + 1.5vw);
  padding-left: calc(0.75vh + 0.75vw);
  margin: 0;
}

@media screen and (min-height: 750px) and (min-width: 1350px) {
  .Title {
    font-size: 51px;
  }
}

@media screen and (max-height: 500px) and (max-width: 1350px) {
  .Title {
    font-size: 25px;
  }
}
@media screen and (max-aspect-ratio:1.3) {
  .Title::after {
    content: "Stepify";
    font-size: 6vh;
  }

  .Title {
    font-size: 0;
  }
}
@media screen and (max-width: 450px) {
  .Title {
    display: none;
  }
}

/*links*/

ul {
  list-style: none;
}

ul li a {
  color: var(--Noir);
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 500;
}

ul li a i {
  color: var(--Noir);
  text-decoration: none;
  transition-delay: 0;
  transition: transform 0.5s;
}

.navbar_link {
  padding: calc(5px + 0.75vh) calc(7px + 0.6vw);
}

.navbar_links {
  display: flex;
  padding-right: 2vh;
  padding-left: 0;
  text-decoration: none;
  align-items: center;
}

.navbar-o-p {
  display: flex;
  padding-right: 0.5vw;
  text-decoration: none;
  align-items: center;
}
.navbar_link > a::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  margin-top: 2px;
  background: var(--Noir);
  transition: width 0.4s;
}

.navbar_link:hover > a::after {
  width: 100%;
}

/* Animations links */
.show-nav .first {
  transition: all 1s ease-out;
}

.show-nav .second {
  transition: all 1.2s ease-out;
}

.show-nav .third {
  transition: all 1.4s ease-out;
}

.show-nav .four {
  transition: all 1.6s ease-out;
}

.show-nav .fifth {
  transition: all 1.8s ease-out;
}

.show-nav .sixth {
  transition: all 2.0s ease-out;
}


/*login*/
.linkaccount{
  text-decoration: none;
}

.login {
  margin-left: calc(2vh + 20px);
  margin-right: 2vh;
  border: solid 2px var(--Noir);
  border-radius: 20px;
  height: 7vh;
  max-height: 45px;
  min-height: 30px;
  width: 80px;
  color: var(--Noir);
  background: #adae8d;
  padding: 5px 11px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

nav .login i {
  display: none;
}

@media screen and (max-width: 500px) {
  .login {
    height: 40px;
    width: 40px;
    background: #adae8d;
    padding: 0;
    font-size: 0;
  }

  nav .login i {
    display: block;
    color: var(--Noir);
    font-size: 15px;
  }
}


/*toogle mode nuit*/

.navbar input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.navbar-o-p label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: var(--Noir);
  float: right;
  border-radius: 100px;
  position: relative;
}

.navbar-o-p label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: var(--Couleur1);
  border-radius: 90px;
  transition: 0.3s;
}

.navbar-o-p input:checked+.navbar-o-p label {
  background: var(--Noir);
}

.navbar-o-p input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.navbar-o-p label:active:after {
  width: 20px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease 0.5s !important;
  transition-delay: 0s !important;
}

/*responsive general*/
@media screen and (min-width:1066px) {
  .burger {
    display: none;
  }

  .bar {
    display: none;
  }
}
@media screen and (min-height:650px) and (max-width: 1120px){
    /*burger and menu*/
    .burger {
      display: block;
      position: relative;
      padding: 0;
      margin-right: 5%;
      width: 45px;
      height: 45px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  
    .bar {
      display: block;
      width: 30px;
      height: 4px;
      border-radius: 3px;
      background: var(--Noir);
      transition: all .5s ease-in-out;
    }
  
    .bar::before,
    .bar::after {
      content: "";
      width: 45px;
      height: 4px;
      position: absolute;
      left: 0;
      background: var(--Noir);
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }
  
    .bar::before {
      transform: translateY(-12px)
    }
  
    .bar::after {
      transform: translateY(12px)
    }
    .show-nav .bar {
      width: 0;
      background: transparent;
    }
  
    .show-nav .bar::before {
      transform: rotate(45deg);
    }
  
    .show-nav .bar::after {
      transform: rotate(-45deg);
    }
    .navbar_links{
      position: fixed;
      top: calc(8vh + 20px);
      right: 0;
      left: 50%;
      height: calc(100vh - 8vh - 20px);
      width:50vw;
      background-color: var(--Couleur1);
      flex-direction: column;
      text-align: center;
      justify-content: center;
      transform: translateX(100%);
      transition: all .5s ease-in-out;
    }
    .show-nav .navbar_links{
      transform: translateX(0);
    }
    .navbar_link {
      padding: 1.5rem;
      font-size: calc(9px + 0.8vh);
      transform: translateX(120%);
      transition: all .5s ease-in-out;
    }
    .show-nav .navbar_link  {        
      transform: translateX(0);
    }   
    .navbar_link > a::after {
      display: block;
      content: "";
      width: 0;
      height: 2px;
      margin-top: 2px;
      background: var(--Noir);
      transition: width 0.4s;
    }
    
    .navbar_link:active > a::after {
      width: 100%;
    }
}
@media screen and (max-width: 1066px){

  /*burger and menu*/
  .burger {
    display: block;
    position: relative;
    padding: 0;
    margin-right: 5%;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--Noir);
    transition: all .5s ease-in-out;
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--Noir);
    border-radius: 3px;
    transition: all .5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px)
  }

  .bar::after {
    transform: translateY(12px)
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  .navbar_links{
    position: fixed;
    top: calc(8vh + 20px);
    right: 0;
    left: 50%;
    height: calc(100vh - 8vh - 20px);
    width:50vw;
    background-color: var(--Couleur1);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar_links{
    transform: translateX(0);
  }
  .navbar_link {
    padding: 1.5rem;
    font-size: calc(9px + 0.8vh);
    transform: translateX(120%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar_link  {        
    transform: translateX(0);
  }   
  .navbar_link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    margin-top: 2px;
    background: var(--Noir);
    transition: width 0.4s;
  }
  
  .navbar_link:active > a::after {
    width: 100%;
  }
  @media screen and (max-width: 500px){
    .navbar *{
      z-index: 9999;
    }
    .divlogo a{
      z-index: 9999;
    }
    .navbar_links{
      z-index: 9000;
      top: calc(8vh + 20px);
      right: 0;
      left: 0;
      height: calc(50vh - 8vh);
      width:100vw;
      background-color: var(--Couleur1);
      flex-direction: column;
      text-align: center;
      justify-content: center;
      transform: translateX(120%);
      transition: all .5s ease-in-out;
    }
    .show-nav .navbar_links{
      transform: translateX(0);
    }
    .navbar_link {
      padding: 2.7vh;
      font-size: calc(9px + 0.8vh);
      transform: translateX(100%);
      transition: all .5s ease-in-out;
    }
    .show-nav .navbar_link  {        
      transform: translateX(0);
    }   
  }
}