.main {
  padding-top: calc(var(--header-height) + 3rem);
  padding-left: 360px;
  transition: all 0.4s ease;
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
}
.hide-sidebar ~ .main {
  padding-left: 135px; /* sidebar étendue */
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quand la sidebar est ouverte (grand écran) */
@media screen and (min-width: 1150px) {
}

/* Écran mobile */
@media screen and (max-width: 1149px) {
  .main {
    padding-top: calc(var(--header-height) + 1.5rem);
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .hide-sidebar ~ .main {
    padding-left: 1rem;
  }
}