*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --background: #F5F9FA;
  --Couleur: #212E53;
  --Couleur1: #4A919E;
  --Couleur2: #BED3C3;
  --Couleur3: #EBACA2;
  --Couleur4: #CE6A6B;
  --Noir: #1E1E2F;
  --Gris: #4B4B6A;
  --turquoise: #4AC9BE;
  --bleu: #2B5A73;
  --blanc: #E2E8F0;
}

html[data-theme='dark'] {
  --background: #0F1B21;   
  --Couleur: #dae9f7;     
  --Couleur1: #212E53;
  --Couleur2: #89B4A1;     
  --Couleur3: #E29B94;     
  --Couleur4: #A65051;      
  --Noir: #E2E8F0;          
  --Gris: #AAB8C2;     
  --turquoise: #4AC9BE;     
  --bleu: #39728B;          
  --blanc: #1C2C34;        
}